@import "tailwindcss";

@theme {
  --color-off-white: #F0F0FA; 
  --color-light-lilac: #eae6ff;
  --color-lilac: #D8CFFE;
  --color-brand-purple: #b3a7f9; 
  --color-black-purple: #9227b9;
}

@keyframes fadeInDown {
   from {
      opacity: 0;
      transform: translateY(-20px);
   }

   to {
      opacity: 1;
      transform: translateY(0);
   }
}
@keyframes bounce {

   0%,
   100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
   }

   50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
   }
}
.animate-fade-in-down {
   animation: fadeInDown 0.6s ease-out;
}
.animate-bounce {
   animation: bounce 1s infinite;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}